body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  text-decoration: none;
  list-style-type: none;
}
* {
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.greenButton {
  position: relative;
  border: none;
  width: 100%;
  padding: 18px;
  background: #9DD558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: lighten(#9DD700, 5%);
  }
  &:active {
    background: darken(#9DD558, 5%);
  }
  &:disabled {
    background-color: #bebebe;
    cursor: default;
    transition: opacity 0.15s ease-in-out;
    animation: button-basket-loading 0.5s ease-in-out infinite;
  }
}

.wrapper {
  margin: 50px auto;
  background-color: #FFFFFF;
  max-width: 1080px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.main__wrapper {
  padding: 40px 60px;
}
.main__cards{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}


.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__search {
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  width: 250px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  input {
    width: 100%;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
  }
}

@keyframes button-basket-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
