body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  text-decoration: none;
  list-style-type: none;
}
* {
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.basket {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      flex: none;
    }

  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(0,0,0, 0.5);
    overflow: auto; /* Add this line */

  }
  &__body {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    padding: 30px;
    background-color: #FFFFFF;
    width: 30%;
    height: 100%;
    .greenButton {
      position: relative;
      transition: transform 0.1s ease-in-out;
      img {
        position: absolute;
        right: 50px;
        top: 20px;

      }
      &:hover {
        img {
          transform: translateX(5px);
        }
      }
    }
  }
  &__elements {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    overflow: auto;
    margin-bottom: 40px;
  }
  &__close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex: 1 0 auto;
      width: 32px;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      border-radius: 8px;
      img {
        opacity: 0.7;
        transform: rotate(45deg);
      }
      &:hover {
        border: 1px solid #DBDBDB;
      }
      &:hover img {
        opacity: 1;
      }
  }
  &__card {
    padding: 20px;
    overflow: hidden;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    width: 100%;
    min-height: 120px;
    p {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
    span {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
    &-img {
      width: 70px;
      height: 70px;
    }
  }
  &__footer {

    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 20px;
      div {
        position: relative;
        top: -3px;
        margin: 0 5px;
        flex: 1;
        border-bottom: 1px dashed #DFDFDF;
      }
    }
  }
}
.greenButton {
  position: relative;
  border: none;
  width: 100%;
  padding: 18px;
  background: #9DD558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: lighten(#9DD700, 5%);
  }
  &:active {
    background: darken(#9DD558, 5%);
  }
  &:disabled {
    background-color: #bebebe;
    cursor: default;
    transition: opacity 0.15s ease-in-out;
    animation: button-basket-loading 0.5s ease-in-out infinite;
  }
}

.wrapper {
  margin: 50px auto;
  background-color: #FFFFFF;
  max-width: 1080px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.main__wrapper {
  padding: 40px 60px;
}
.main__cards{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}


.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__search {
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  width: 250px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  input {
    width: 100%;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
  }
}

@keyframes button-basket-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
